<!DOCTYPE html>
<html>
  <head>
    <title>Iframe Example</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
        <%= yield %>

        <%# Begin C66 iframe Content %>
        <%# Update data-frame with the correct stack url %>
        <!-- Start C66 iframe -->
        <style id="c66FrameStyles">

        </style>
        <div id="c66FrameContainer"
            class="minimised"
            style="background: transparent; position: fixed; bottom: 0px; left: 0px; margin: 0px; padding: 0px; z-index: 999999999999; height: 52px;"
            data-frame="https://maestro-brent.eu.ngrok.io/admin_frame/948"
            data-origin="https://maestro-brent.eu.ngrok.io">
        </div>
        <script data-turbolinks-eval="false" src="https://maestro-brent.eu.ngrok.io/javascripts/frame/c66frame.js?v1"></script>
        <!-- End C66 iframe -->
  </body>
</html>
