<!DOCTYPE html>
<html>
  <head>
    <title>Iframe Example</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
        <%= yield %>

        <%# Begin C66 iframe Content %>
        <%# Update data-frame with the correct stack url %>
        <!-- Start C66 iframe -->
        <div id="c66FrameContainer"
            class="minimised"
            style="background: transparent; position: fixed; bottom: 0px; left: 0px; margin: 0px; padding: 0px; z-index: 999999999999; height: 52px;"
            data-frame=" https://brents-macbook-pro.tailnet-56da.ts.net/admin_frame/2573?token=eyJ1c2VyX2lkIjoyLCJzdGFja19pZCI6MjU3MywiZXhwaXJlc19hdCI6MTc4MTY0NzE0OH0=--980877a846f701a3af058db708fabf38f7753
  a9bef8bf9cbdaf5555831bddd80"
            data-origin="https://brents-macbook-pro.tailnet-56da.ts.net">
        </div>
        <script data-turbolinks-eval="false" src="https://brents-macbook-pro.tailnet-56da.ts.net/javascripts/frame/c66frame.js?v2"></script>
        <!-- End C66 iframe -->
  </body>
</html>
